html {
    scroll-behavior: smooth;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  .inter {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.Navbar{
    z-index: 2;
    position: relative;
}
.IntroImg{
    background-image: url("https://i.ibb.co/JQVNLm2/Mask-group.png");
}
.bgInterior{
    background-image: url("https://i.ibb.co/X2D0501/Mask-group.png");
}
.IntroImg{
    z-index: 1;
    position: absolute;
    top: 0px;
}

/* App.css */

/* Fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1.2s ease-in-out;
  }
  .card {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  /* Responsive text sizing */
 
  #footer {
    background-color: #1a1a1a; /* Dark background for the footer */
  }
  
  #footer a {
    transition: color 0.3s ease; /* Smooth transition for link color */
  }
  
  #footer a:hover {
    color: #DAAF50; /* Change link color on hover */
  }
  
  /* Responsive adjustments */
  @media (max-width: 640px) {
    #footer {
      flex-direction: column; /* Stack items vertically on small screens */
    }
  }
  